.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 81px;
}

.hero-section img {
  padding-right: 50px;
}

.hero-section div {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section img{
  margin-bottom: -8px;
}

.card-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.card-masonry-column {
  padding-left: 10px;
  background-clip: padding-box;
}
.card-obra {
  margin-bottom: 8px;
}