.modalContainerPerfil {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalCadastroPerfil {
    background-color: #ffffff;
    width: auto;
    height: 300px;
    border-radius: 16px;
    padding: 30px;
    position: relative;
    font-family: "Albert Sans", sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modalCadastroPerfil h2 {
    font-size: 32px;
    font-weight: bold;
    color: #121212;
    margin-bottom: 16px;
}

.modalCadastroPerfil .subtituloModalPerfil {
    font-size: 16px;
    font-weight: normal;
    color: #121212;
    margin-bottom: 40px;
    width: 185px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid currentColor;
}

.formularioCadastroPerfil {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.campoFormularioPerfil { 
    display: flex;
    flex-direction: column;
    min-width: 360px;
}

.campoFormularioPerfil label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #121212;
}

.campoFormularioPerfil input {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 14px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
