.card-obra {
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-size: 14px;
}

.imagem {
    width: 338px;
    height: 461px;
    border-radius: 16px;
    background-color: #ccc;
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
}

.info-obra {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    gap: 54px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-obra:hover .info-obra {
    opacity: 1;
}

.titulo-obra {
    padding-left: 8px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
}

.tags {
    display: flex;
    gap: 5px;
    font-size: 9.38px;
    font-family: 'Albert Sans', sans-serif;
}