.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-conteudo {
    background: #fff;
    padding: 24px 32px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}


.modal-titulo {
    font-size: 16px;
    font-weight: bold;
    color: #121212;
    margin-bottom: 16px;
}

.modal-texto {
    font-size: 14px;
    font-weight: normal;
    color: #121212;
    margin-bottom: 32px;
}


.modal-botoes {
    display: flex;
    gap: 12px;
    margin-left: 150px;
}

.modal-botoes button:first-child {
    background-color: white;
    color: #121212;
    border: 2px solid #121212;
}

.modal-botoes button:last-child {
    background-color: #e74c3c;
    color: white;
}