.rodape {
  background-color: #D0353F; /* Rosa que estava no figma */
  color: white;
  padding: 32px 40px 16px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 14px;
}

.conteudo-rodape {
  display: flex;
  justify-content: space-between; /* empurra a logo para a esquerda e o texto mais para o centro */
  gap: 32px;
  align-items: flex-start; 
  padding-left: 50px;
}

.logo-rodape {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9; /* cinza claro */
  border-radius: 4px;
  flex-shrink: 0; /* impede que ela diminua */
}

.info-rodape {
  flex: 1;
  padding-left: 60px;
  margin-left: 40px; /* ajuste conforme o quanto você quer centralizar */
}

.descricao-rodape {
  font-weight: 600;
}

.contato-rodape {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* colocando o espaço entre os nomes e os ícones*/
.contato-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divisor-rodape {
  margin: 36px 0 36px;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.copy-rodape {
  font-size: 12px;
  opacity: 0.8;
  padding-left: 81px;
}