.button-container {
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    border: solid;
    border-radius: 16px;
}

.button-text {
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fafffa;
}
