.card-obra {
  width: 320px;
  font-family: 'Albert Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.imagem {
  width: 100%;
  overflow: hidden;
}

.imagem img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.info-obra {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
  gap: 24px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-obra:hover .info-obra {
  opacity: 1;
}

.tags {
  display: flex;
  gap: 5px;
}

.card-container {
  column-count: 3;
  column-gap: 16px;
  padding: 16px;
}
