@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
  color: white;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  margin-bottom: 16px;
  margin-top: 100px;
}

p {
  font-family: 'Albert Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 56px;
}

button {
   padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  border: 2px solid;
  border-radius: 16px;
  background-color: transparent;
  font-family: "Albert Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s ease;
}